#Archivos compilados de Python
*.pyc

*.pickle

*.csv

*.txt

*.xls

*.bson

*.json

credencialesTwitter.py

archivocsv.py

conexionMongo.py
FechaCreacion.py
DescargaTwittStreaming.py
followers.py
